<section class="top-header">
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-xs-12 col-sm-4">
				<div class="contact-number">
					<i class="tf-ion-ios-telephone"></i>
					<span>+096-584-0200</span>
				</div>
			</div>
			<div class="col-md-4 col-xs-12 col-sm-4">
				<!-- Site Logo -->
				<div class="logo text-center">
					<a href="/">
						<!-- replace logo here -->
						<svg width="135px" height="29px" viewBox="0 0 155 29" version="1.1" xmlns="http://www.w3.org/2000/svg"
							xmlns:xlink="http://www.w3.org/1999/xlink">
							<g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" font-size="40"
								font-family="AustinBold, Austin" font-weight="bold">
								<g id="Group" transform="translate(-108.000000, -297.000000)" fill="#000000">
									<text>
										<tspan x="108.94" y="325">Dducky</tspan>
									</text>
								</g>
							</g>
						</svg>
					</a>
				</div>
			</div>
			<div class="col-md-4 col-xs-12 col-sm-4">
				<!-- Cart -->
				<ul class="top-menu text-right list-inline">
					<li class="dropdown cart-nav dropdown-slide">
						<a href="#!" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"><i
								class="tf-ion-android-cart"></i>Giỏ hàng</a>
						<div class="dropdown-menu cart-dropdown">
							{{#if oders }}
							{{#each oders}}
							<div class="media">
								<a class="pull-left" href="/product/detail/{{ this.id }}">
									<img class="media-object" src="/{{ this.image }}" alt="image" />
								</a>
								<div class="media-body">
									<h4 class="media-heading"><a href="/product/detail/{{ this.id }}">{{ this.name }}</a></h4>
									<div class="cart-price">
										<span>{{ this.quantity }} x</span>
										<span>{{#convertPrice this.price }}{{/convertPrice}}</span>
									</div>
									<h5><strong>{{multiply this.quantity this.price}}</strong></h5>
								</div>
								{{!-- <a href="#!" class="remove"><i class="tf-ion-close"></i></a> --}}
							</div>
							{{/each}}
							<div class="cart-summary">
								<span>Total</span>
								<span class="total-price">{{#convertPrice count_cart }}{{/convertPrice}}</span>
							</div>
							<ul class="text-center cart-buttons">
								<li><a href="/cart" class="btn btn-small">Giỏ hàng</a></li>
								{{#if user }}
								<li><a href="/checkout" class="btn btn-small btn-solid-border">Thanh toán</a></li>
								{{ else  }}
								<li><a href="/login" class="btn btn-small btn-solid-border">Đăng nhập</a></li>
								{{/if}}
								
							</ul>
							{{ else }}
								<p class="copyright-text">Giỏ hàng trống</p>
							{{/if}}
						</div>

					</li><!-- / Cart -->

					<!-- Search -->
					<li class="dropdown search dropdown-slide">
						<a href="#!" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"><i
								class="tf-ion-ios-search-strong"></i> Tìm kiếm</a>
						<ul class="dropdown-menu search-dropdown">
							<li>
								<form method="get" action="/search" ><input name="key" type="search" class="form-control" placeholder="Search..." required></form>
							</li>
						</ul>
					</li><!-- / Search -->

					<li class="dropdown cart-nav dropdown-slide">
						<a href="#!" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"><i
								class="tf-ion-android-contact"></i>Hồ sơ</a>
						<div class="dropdown-menu cart-dropdown">
							{{#if user }}
							<div class="cart-summary">
								<a href="/profile-details">Chi tiết hồ sơ</a>	
							</div>
							<div class="cart-summary">
								<a href="/order">Đơn hàng</a>	
							</div>
							<div class="cart-summary">
								<a href="/address">Địa chỉ</a>
							</div>

							<ul class=" cart-buttons custom-btn-logout">
								<li ><a href="/logout" class="btn btn-small">Đăng xuất</a></li>
							</ul>
							{{else}}
							<ul class=" cart-buttons">
								<li ><a href="/signin" class="btn btn-small btn-solid-border">Đăng ký</a></li>
								<li><a href="/login" class="btn btn-small">Đăng nhập</a></li>
							</ul>
							{{/if}}
						</div>

					</li><!-- / Cart -->
					<!-- Search -->

					{{#ifEquals user.id_role 1 }}
					<li class="dropdown dropdown-slide">
						<a href="/admin/" class="dropdown-toggle"><i
								class="tf-ion-android-contact"></i> Admin</a>
					</li><!-- / Search -->
					{{/ifEquals  }}
				</ul><!-- / .nav .navbar-nav .navbar-right -->
			</div>
		</div>
	</div>
</section>